@font-face {
    font-family: 'jf-openhuninn';
    src: url('./fonts/jf-openhuninn-2.1.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    --primary-color: #786A62;
    /* 主色 */
    --secondary-color: #BAA087;
    /* 次要顏色 */
    --bgColor: #F8F5EE;
    /* 背景色 */
    --accent: #FF9F9F;
    /* 強調色 */
    --semanticG: #D2E9E9;
    /* 系統狀態色 */
    --semanticY: #FFFAD7;
    /* 系統狀態色 */
    --neutral-100: #C6BAB1;
    /* 區塊背景1 */
    --neutral-200: #F2EAE0;
    /* 區塊背景2 */
    --neutral-300: #F4D6C9;
    /* 區塊背景3 */
    --secondary-txt: #aaa;
    /* 次要文字 */
    --padding: 8px;
    --border-color: 1px solid var(--neutral-100);
    font-size: 16px;

    letter-spacing: 3px;
    font-family: 'jf-openhuninn', 'Microsoft JhengHei', sans-serif;
}


body {
    width: 100%;
    min-height: 100vh;
    /* 確保 body 至少跟視窗一樣高 */
    display: flex;
    /* 啟用 Flex 佈局 */
    flex-direction: column;
    /* 讓內容由上至下排列 */
    color: #666;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    display: block;
}

section {
    width: 100%;
    margin: 0 auto 80px;
    width: 100%;
    flex: 1;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

/* 按鈕面板 ---------------------------------*/

.btn-info {
    position: absolute;
    z-index: 2;
    padding: 20px;
    background-color: var(--bgColor);
    border: 1px solid var(--neutral-100);
    border-radius: 20px;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;

}

.open {
    transform: scale(1);
    opacity: 1;
}


.more {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    #morebtn {
        display: flex;
        font-weight: 600;
        gap: 4px;
        color: var(--primary-color);
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding: 8px;

        p::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: var(--primary-color);
            left: 0;
            bottom: 0;
            transition: .4s;
        }

        div:last-child {
            width: 1em;
            height: 1em;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }


    #morebtn:hover {
        p::after {
            width: 100%;
        }

    }
}

/* 導覽列CSS ---------------------------------*/

nav {
    display: flex;
    background-color: var(--bgColor);
    justify-content: space-between;
    padding: 12px 36px;
    align-items: center;
    height: 100%;

    .logo {
        div {
            width: 80px;

            img {
                width: 100%;
            }
        }
    }

    .nav-a {
        display: flex;
        gap: 20px;
        align-items: center;
        z-index: 1;

        .icon-size {
            width: 1.4em;
            height: 1.4em;
            color: var(--primary-color);
            transition: .3s;
        }

        ul {
            display: flex;
            gap: 20px;

            li {
                position: relative;
            }

            li:hover {
                .sub-project {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .sub-project {
                position: absolute;
                display: block;
                border-radius: 5px;
                background-color: #fff;
                width: 100%;
                visibility: hidden;
                opacity: 0;
                transition: .3s;
                padding-inline: 8px;
                top: 100%;


                li {
                    border-bottom: 1px solid #666;

                    a {
                        display: inline-block;
                        padding: 4px;
                        width: 100%;
                        text-align-last: justify;
                        transition: .3s;
                        border-radius: 5px;
                        margin-block: 4px;
                    }


                    a:hover {
                        background-color: var(--neutral-100);
                        color: #fff;
                        border-radius: 5px;
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }



            a {
                display: flex;
                position: relative;



                .dark {
                    display: flex;
                    gap: 8px;
                    padding: 4px;

                    span {
                        transition: .3s;
                    }


                }

                .dark:hover {
                    span {
                        color: var(--secondary-color);
                    }

                    .icon-size {
                        color: var(--secondary-color);
                    }
                }
            }
        }


    }
}



/* 頁尾  CSS ---------------------------------*/
footer {
    width: 100%;
    background-color: var(--neutral-100);
    padding: 20px;
    flex-shrink: 0;

    .index-footer {
        display: flex;
        gap: 20px;
        justify-content: center;

        p,
        span {
            color: #fff;
        }
    }
}


/* 遮罩 ---------------------------------*/
.mask {
    background: rgba(120, 106, 98, 0.12);
    backdrop-filter: blur(4px);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.show {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}