@font-face {
    font-family: 'jf-openhuninn';
    src: url('../fonts/jf-openhuninn-2.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    --primary-color: #786A62;
    /* 主色 */
    --secondary-color: #BAA087;
    /* 次要顏色 */
    --bgColor: #F8F5EE;
    /* 背景色 */
    --accent: #FF9F9F;
    /* 強調色 */

    --semanticG: #B7C8B5;
    /* 系統狀態色 */
    --semanticY: #EAD7A6;
    /* 系統狀態色 */
    --neutral-100: #C6BAB1;
    /* 區塊背景1 */
    --neutral-200: #F2EAE0;
    /* 區塊背景2 */
    --neutral-300: #F4D6C9;
    /* 區塊背景3 */
    --neutral-400: #D2E9E9;
    /* 區塊背景4 */
    --secondary-txt: #aaa;
    /* 次要文字 */
    --padding: 8px;
    --border-color: 1px solid var(--neutral-100);
}


body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    /* 確保 body 至少跟視窗一樣高 */
    display: flex;
    /* 啟用 Flex 佈局 */
    flex-direction: column;
    /* 讓內容由上至下排列 */
    color: #666;
    letter-spacing: 3px;
    font-family: 'jf-openhuninn', 'Microsoft JhengHei', sans-serif;
    font-size: 16px;
    background-color: var(--bgColor);

}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    display: block;
}

section {
    width: 100%;
    margin: 0 auto 60px;
    flex: 1;
}

button {
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    padding: 0;
}

button:hover {
    cursor: pointer;
}

/* 按鈕面板 ---------------------------------*/

.btn-info {
    position: absolute;
    z-index: 2;
    padding: 20px;
    background-color: var(--bgColor);
    border: 1px solid var(--neutral-100);
    border-radius: 20px;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;

}

.open {
    transform: scale(1);
    opacity: 1;
}


.more {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    #morebtn {
        display: flex;
        font-weight: 600;
        gap: 4px;
        color: var(--primary-color);
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding: 8px;

        p::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: var(--primary-color);
            left: 0;
            bottom: 0;
            transition: .4s;
        }

        div:last-child {
            width: 1em;
            height: 1em;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }


    #morebtn:hover {
        p::after {
            width: 100%;
        }

    }
}

/* 導覽列CSS ---------------------------------*/





/* 頁尾  CSS ---------------------------------*/
footer {

    >div {
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 0;


        .svg-style {
            svg {
                display: block;
                line-height: 0;
            }
        }

        .footer-inner {
            background-color: var(--neutral-100);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 2rem;
            padding-bottom: 2rem;
        }
    }

}

.footer-logo {
    padding-inline: 1.5rem;
    border-right: 1px solid var(--bgColor);
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
        font-size: 2rem;
    }

    ul {
        width: 100%;
        gap: 1.5rem;
        /* margin-bottom: -1rem; */
    }

}

.footer-link {
    a {
        color: #fff;
    }
}


/* .footer-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
    font-weight: 700;
    flex-shrink: 0;
}*/


/*
.footer-info span {
    opacity: 1;
} */

/* 遮罩 ---------------------------------*/
.mask {
    background: rgba(120, 106, 98, 0.12);
    backdrop-filter: blur(4px);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.show {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}


.--flex {
    display: flex;
    margin: auto;
}

#btn-hamburger {
    padding: 4px;
}

nav {
    display: flex;
    background-color: var(--bgColor);
    justify-content: space-between;
    /* padding: 2rem; */
    align-items: center;
    /* position: relative; */
    width: auto;

    .logo {
        width: 80px;

        a {
            img {
                width: 100%;
            }
        }

    }

    .nav-a {
        background-color: var(--bgColor);
    }
}

/* ._mob-none {
    display: none;
} */


/* ._desktop-none {
    display: none;
} */



/* == 電腦 =============================================*/













@media screen and (width>1200px) {

    ._desktop-none {
        display: none;
    }

    /* ._mob-none {
        display: inline-block;
    } */

    /* == main--nav =========================================*/
    nav {
        padding: 2rem;
        min-width: 1200px;

        .pet-selector {
            display: none;
        }



        .logo {
            div {
                width: 80px;

                img {
                    width: 100%;
                }
            }
        }

        .nav-a {
            display: flex;
            gap: 20px;
            align-items: center;
            z-index: 1;

            .icon-size {
                width: 1.4em;
                height: 1.4em;
                color: var(--primary-color);
                transition: .3s;
            }

            ul {
                display: flex;
                gap: 20px;

                li {
                    position: relative;
                }

                li:hover {
                    .sub-project {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .sub-project {
                    position: absolute;
                    display: block !important;
                    border-radius: 5px;
                    background-color: #fff;
                    width: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: .3s;
                    padding-inline: 8px;
                    top: 100%;


                    li {
                        border-bottom: 1px solid #666;

                        a {
                            display: inline-block;
                            padding: 4px;
                            width: 100%;
                            text-align-last: justify;
                            transition: .3s;
                            border-radius: 5px;
                            margin-block: 4px;
                        }


                        a:hover {
                            background-color: var(--neutral-100);
                            color: #fff;
                            border-radius: 5px;
                        }
                    }

                    li:last-child {
                        border-bottom: none;
                    }
                }



                a {
                    display: flex;
                    position: relative;



                    .tabs {
                        display: flex;
                        gap: 8px;
                        padding: 4px;

                        span {
                            transition: .3s;
                        }


                    }

                    .tabs:hover {
                        span {
                            color: var(--secondary-color);
                        }

                        .icon-size {
                            color: var(--secondary-color);
                        }
                    }
                }
            }


        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    /* == 手機隱藏 ================================= */
    ._mob-none {
        display: none;
    }

    /* == nav樣式 ============================== */
    nav {
        padding-inline: 1rem;
        /* width: 100%; */
        max-width: 100%;
        position: relative;
    }


    .notify {
        font-size: 1.5rem;
    }


    /* == 漢堡選單 ============================= */
    #btn-hamburger {
        color: var(--primary-color);
        font-size: 1.5rem;
    }



    .nav-a {
        position: absolute;
        height: 100dvh;


        top: 100%;
        /* background-color: orange; */
        right: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 1rem 2rem;
        /* text-align: center; */
        z-index: 2;

        ul {

            width: 100%;
            display: block;
            /* background-color: #fff; */
            /* padding: 0 5rem; */

            li {

                /* background-color: orange; */
                a {
                    padding: .5rem;
                }

                .sub-project {
                    display: none;


                    li {
                        padding-block: 1rem;
                        border-bottom: 1px solid var(--neutral-100);
                        /* background-color: orange; */

                        &:last-child {
                            border-bottom: none;
                        }

                        a {
                            text-align: center;
                        }
                    }
                }

            }
        }

        .notify {
            display: none;
        }
    }


    .nav-a._enter {
        transform: translateX(0);
    }

    .ham-menu {
        .notify {
            color: var(--primary-color);
        }
    }


    footer {
        display: none;
    }

    .-desktop {
        display: none;
    }
}

/* == 手機 ================================*/
@media screen and (width<768px) {

    /* == 手機隱藏 ================================= */
    ._mob-none {
        display: none;
    }

    /* == nav樣式 ============================== */
    nav {
        padding-inline: 1rem;
        /* width: 100%; */
        max-width: 100%;
        position: relative;
    }


    .notify {
        font-size: 1.5rem;
    }


    /* == 漢堡選單 ============================= */
    #btn-hamburger {
        color: var(--primary-color);
        font-size: 1.5rem;
    }



    .nav-a {
        position: absolute;
        height: 100dvh;


        top: 100%;
        /* background-color: orange; */
        right: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 1rem 2rem;
        /* text-align: center; */
        z-index: 2;

        ul {

            width: 100%;
            display: block;
            /* background-color: #fff; */
            /* padding: 0 5rem; */

            li {

                /* background-color: orange; */
                a {
                    padding: .5rem;
                }

                .sub-project {
                    display: none;


                    li {
                        padding-block: 1rem;
                        border-bottom: 1px solid var(--neutral-100);
                        /* background-color: orange; */

                        &:last-child {
                            border-bottom: none;
                        }

                        a {
                            text-align: center;
                        }
                    }
                }

            }
        }

        .notify {
            display: none;
        }
    }


    .nav-a._enter {
        transform: translateX(0);
    }

    .ham-menu {
        .notify {
            color: var(--primary-color);
        }
    }


    footer {
        display: none;
    }

    .-desktop {
        display: none;
    }
}