@font-face {
    font-family: 'jf-openhuninn';
    src: url('./fonts/jf-openhuninn-2.1.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    --primary-color: #786A62;
    /* 主色 */
    --secondary-color: #BAA087;
    /* 次要顏色 */
    --bgColor: #F8F5EE;
    /* 背景色 */
    --accent: #FF9F9F;
    /* 強調色 */
    --semanticG: #D2E9E9;
    /* 系統狀態色 */
    --semanticY: #FFFAD7;
    /* 系統狀態色 */
    --neutral-100: #C6BAB1;
    /* 區塊背景1 */
    --neutral-200: #F2EAE0;
    /* 區塊背景2 */
    --neutral-300: #F4D6C9;
    /* 區塊背景3 */
    --secondary-txt: #aaa;
    /* 次要文字 */
    --padding: 8px;
    --border-color: 1px solid var(--neutral-100);
    font-size: 16px;
    color: #666;
    letter-spacing: 3px;
    font-family: 'jf-openhuninn', 'Microsoft JhengHei', sans-serif;
}

body {
    width: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

section {
    width: 100%;
    margin: 0 auto 80px;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

/* 按鈕面板 ---------------------------------*/

.btn-info {
    position: absolute;
    z-index: 2;
    padding: 20px;
    background-color: var(--bgColor);
    border: 1px solid var(--neutral-100);
    border-radius: 20px;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;

}

.open {
    transform: scale(1);
    opacity: 1;
}

/* 導覽列CSS ---------------------------------*/

nav {
    display: flex;
    background-color: var(--bgColor);
    justify-content: space-between;
    padding: 12px 36px;
    align-items: center;
    height: 100%;

    .logo {
        div {
            width: 80px;

            img {
                width: 100%;
            }
        }
    }

    .nav-a {
        display: flex;
        gap: 20px;
        align-items: center;

        ul {
            display: flex;
            gap: 20px;

            a {
                display: flex;
                position: relative;

                .txt-dark,
                .txt-light {
                    display: flex;
                    gap: 8px;
                    padding: 4px;

                    div {
                        width: 1.5em;
                        height: 1.5em;

                        img {
                            width: 100%;
                        }
                    }
                }

                .txt-dark {
                    opacity: 1;
                    transition: .3s;

                    span {
                        color: var(--primary-color);
                        font-weight: 500;
                    }
                }

                .txt-light {
                    transition: .3s;
                    opacity: 0;
                    position: absolute;

                    span {
                        color: var(--secondary-color);
                        font-weight: 500;
                        left: 0;
                    }
                }

                .txt-dark:hover {
                    opacity: 0;
                }

                .txt-light:hover {
                    opacity: 1;
                }
            }

            .notify {
                div {
                    width: 1.5em;
                    height: 1.5em;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

}





/* 頁尾  CSS ---------------------------------*/
footer {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;

    .index-footer {
        display: flex;
        gap: 20px;
        justify-content: center;

        p,
        span {
            color: #fff;
        }
    }
}


/* 遮罩 ---------------------------------*/
.mask {
    background: rgba(120, 106, 98, 0.12);
    backdrop-filter: blur(4px);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.show {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}